body {
  background-color: #ba6b57;
}

h1 {
  background-color: yellow;
  font-size: 16px;
  text-align: center;
  margin: 15px 400px 10px 480px;
  padding: 5px 5px 5px 5px;
  width: 300px;
}

#startGame {  
  background-color: white;
  margin: 20px 700px 300px 200px;
  padding: 5px 7px 7px 7px;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  position: absolute;
  top: 50px;
  left: 100px;
  border-radius: 10px;
}

#startGame:hover {
  color: white;
  background-color: red;
  }

.timer {
  border: 2px solid grey;
  background-color: white;
  width: 80px;
  margin: 20px 2540px 300px 200px;
  padding: 5px 7px 0 7px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  position: absolute;
  top: 140px;
  left: 102px;
}

#clock {
  background-color: white;
  padding: 5px 7px 10px 7px;
  margin: 0 150px 0 -7px;
  width: 80px;
}


#canvas {
  background-color: green;  
  width: 400px;
  height: 400px;
  margin: 20px 400px 0 435px;  

}


/* FYI - Below is the first trial that made the goal move sideways. But, since it didn't have any x-y reference, the task was done in Javascript by defining animate function.

  #Goal {
  margin: -390px 2200px 0 755px;
  position: relative;
  animation-name: movingGoal;
  animation-duration:7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  animation-delay: 0s; 
} 

  @keyframes movingGoal {
  0% {right:0%;}
  15% {right: 24%;}
  25% {right: 24%;}
  50% {right: 24%;}
  75% {right: 24%;}
  100% {right:0%;}
}  */

#p1 {
  border: 2px solid grey;
  background-color: white;
  margin: 20px 800px 300px 200px;
  padding: 5px 7px 35px 7px;
  width: 80px;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  position: absolute;
  top: 260px;
  left: 100px;
}

#p2 {
  border: 2px solid grey;
  background-color: white;
  margin: 20px 800px 400px 200px;
  padding: 5px 7px 35px 7px;
  width: 80px;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  position: absolute;
  top: 340px;
  left: 100px;
}


#p1-score {
  background-color: white;
  padding: 5px 7px 10px 7px;
  margin: 0 150px 0 -7px;
  width: 40px;
  position: absolute;
  top: 320px;
  left:347px;
}

#p2-score {
  background-color: white;
  padding: 5px 7px 10px 7px;
  margin: 0 150px 0 -7px;
  width: 40px;
  position: absolute;
  top: 400px;
  left:347px;
}

#next {  
  font-size: 14px;
  font-weight: 600;
  position:absolute;
  top: 430px;
  right: 328px;  
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

#next:hover {
  color: white;
  background-color: red;
}

#reset{  
  font-size: 14px;
  font-weight: 600;
  position:absolute;
  top: 380px;
  bottom: 200px;
  right: 350px;
  margin:0 10px 0 -220px;
  border-radius: 10px;
  padding: 5px 10px 15px 10px;
}

#reset:hover {
  color: white;
  background-color: green;
}

#showHide {  
  font-size: 12px;
  font-weight: 600;
  /* margin: 20px 900px 300px 100px; */
  position:absolute;
  padding: 5px auto;
  border-radius: 5px;
  top: 80px;
  bottom: 500px;
  right: 288px;
}

#showHide:hover {
  color: white;
  background-color: blue;
}

img {
  width: 70px;
}

.modal {  
  background-color: rgb(66, 51, 39, 0.7);
  width: 210px;
  height: 310px;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
     
}

.closeBtn {
  background-color: red;
  border-radius: 5px;
  padding:3px;
  position: absolute;
  top: 2px;
  right: 5px;
  bottom: 285px;  
}

.closeBtn:hover {
  background-color: blue;
  color:black;
}

.modalContainer {
  position: fixed;
  top:8px;
  left:0;
  background-color: rgba(77, 61, 61, 0.8);
  margin: 105px 25px 50px 860px;
  width: 210px;
  opacity:0;
  pointer-events: none;
  font-size: 11px;

}

.modalContainer.show {
  pointer-events: auto;
  opacity:1;
}

ul {
  margin: 20px 10px 5px -20px;
}

#gameResult {
  position:absolute;
  top: 500px;
  left: 450px;
  color: greenyellow;
  font-size: 30px;
  font-weight:900;
  animation-name: blinking;
  animation-duration:7s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} 

@keyframes blinking {
  25% {color: yellow;}
  50% {color: blue;}
  75% {color: black;}
  100% {opacity:20;}
}

#clock {
  color: green;
}


@media (Max-width: 400px) {

  h1 {
    font-size: 20px;    
    width: 200px;
    position: relative;
    margin: 50px 90px 20px 80px;
  }
  
  #startGame {
    font-size: 15px;
    position: absolute;
    top: 55px;
    left: -190px;
    border-radius: 10px;
  }
  
  .timer {    
    width: 50px;
    margin: 20px 2540px 300px 200px;
    padding: 5px 7px 0 7px;    
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    top: 150px;
    left: -190px;
    right: 380px
  }
  
  #clock {
    background-color: white;
    padding: 5px 7px 10px 7px;
    margin: 0 150px 0 -7px;
    width: 50px;
  }
  
  #Goal {
    width: 70px;
    height: 40px;
    position: absolute;
    top: 12px;
    left: -200px;
    color: white;
    /* margin: -290px 95px 40px 175px; */

  }
  
 
  #canvas {
    background-color: green;  
    width: 230px;
    height: 250px;
    margin: 2px 330px 100px 80px;  
  
  }
   
  #p1 {    
    margin: 20px 800px 300px 200px;
    padding: 5px 7px 35px 7px;
    width: 50px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 210px;
    left: -190px;

  }
  
  #p2 {    
    margin: 20px 800px 400px 200px;
    padding: 5px 7px 35px 7px;
    width: 50px;
    text-align: center;
    font-size: 12px;    
    position: absolute;
    top: 292px;
    left: -190px;
  }
  
 
  
  #p1-score {    
    padding: 5px 7px 10px 7px;
    margin: 0 150px 0 -7px;
    width: 20px;
    position: absolute;
    top: 268px;
    left:40px;
  }
  
  #p2-score {
    padding: 5px 7px 10px 7px;
    margin: 0 150px 0 -7px;
    width: 20px;
    position: absolute;
    top: 351px;
    left:40px;
  }
  
  
  #next {
    font-size: 12px;
    font-weight: 600;
    position:relative;
    top: 330px;
    right: 250px;
    left: 340px; 
    bottom: 540px; 
    padding: 5px 10px 5px 10px;
  }
  
  #reset {
    font-size: 12px;
    position:absolute;
    margin:0 10px 100 -100px;
    padding: 10px 13px 10px 13px;
    top: 140px;
    right: -20px;
    left: 500px; 
    bottom: 630px; 
    /* display:flexbox;   */
    
  }
  
  #showHide {
    font-size: 11px;
    position:absolute;   
    top: 80px;
    /* left: 325px; */
    right: 5px;
    bottom: 820px;    
  }
}

@media (Max-width: 1800px) {
  #next {
    font-size: 12px;
    font-weight: 600;
    position:relative;
    top: 420px;
    right: 600px;
    left: 880px; 
    bottom: 540px; 
    padding: 5px 10px 5px 10px;
  }
  
  #reset {
    font-size: 12px;
    position:relative;    
    padding: 7px 10px 7px 10px;
    top: 370px;
    right: 2000px;
    left: 950px; 
    bottom: 420px; 
    /* display:flexbox;   */
    
  }
  
  #showHide {
    font-size: 11px;
    position:relative;  
    padding: 10px 5px 10px 5px;
    top: 20px;
    left: 850px;
    right: 120px;
    bottom: 190px;    
  }
}